.main-container {
  height: 100vh;
  // background-color: red;
}

.heading {
  // background-color: white;
  height: 12vh;
  padding-left: 4%;
  background: var(
    --Blue-linear,
    linear-gradient(180deg, #003049 0%, #005079 99.99%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-family: Lato;
  font-size: 30px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: -0.02em;
  text-align: left;
}

.card {
  width: 94%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: height 0.3s ease;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 12px;
  // background-color: #007bff;
  // color: #fff;
  background: var(
    --Blue-linear,
    linear-gradient(180deg, #003049 0%, #005079 99.99%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  //styleName: lato semibold;
  font-family: Lato;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  // text-align: left;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 16px;
}

.card-content p {
  margin: 10px 0;
  opacity: 0.9;
  background: var(
    --Blue-linear,
    linear-gradient(180deg, #003049 0%, #005079 99.99%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.4px;
  // text-align: left;
}

.card-container {
  // background-color: black;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
