.mobile {
  display: flex;
  justify-content: center;

  width: 315px;
  height: 48px;
  border-radius: 13px;
  border-color: #003049;
  outline-color: #003049;
}

.input-container {
  display: flex;
  justify-content: center;

  width: 315px;
  height: 48px;
  margin-left: 20px;
  border-radius: 13px;
  position: relative;
  left: 10px;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
}

.img {
  display: flex;
  justify-content: center;

  width: 371px;
  height: 146px;
  top: 53px;

  gap: 0px;
  opacity: 0px;
}

.container {
  height: 100vh;
  // height: 100%;
  // width:fixed(100%);
  width: auto;
  margin-top: 20%;
  // width:auto;
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
  padding-bottom: 80px;
}
.Address {
  display: flex;
  justify-content: center;
  gap: 4px;
  position: relative;
  top: 205px;
}

.adres1 {
  display: flex;
  justify-content: center;

  width: 149px;
  height: 48px;
  // margin-top: 10px;
  // margin-left: 13px;
  border-radius: 13px;
  border-color: #003049;
  outline-color: #003049;

  // position:relative;
  // top:180px;
  // left:15px;
}

.adres2 {
  display: flex;
  justify-content: center;

  width: 149px;
  height: 48px;
  // margin-top: 10px;
  // margin-left: 14px;
  border-radius: 13px;
  border-color: #003049;
  outline-color: #003049;
}

.report-btn {
  display: flex;
  justify-content: center;

  width: 300px;

  height: 25px;

  padding: 16px 30px 16px 20px;
  gap: 10px;

  opacity: 0px;
  background: linear-gradient(
    180deg,
    #d62828 0%,
    rgba(188, 35, 35, 0.9492) 30.57%,
    rgba(165, 31, 31, 0.9032) 53.9%,
    rgba(138, 26, 26, 0.8502) 80.19%,
    rgba(112, 21, 21, 0.8) 100%
  );
  // margin-top: 50px;
  // margin-left: 20px;
  // margin-right: 35px;
  // margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  bottom: 2px;
  top: 200px;
  bottom: 80px;
  // background-color:#D62828;
}
// .report-btn{
//   background-color: #D62828;
//   color:aliceblue;
//   border-color:#D62828;
//   font-size: medium;
// }

.para1 {
  display: flex;

  color: var(--Schemes-Shadow, #000);

  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 106.667% */
  position: relative;
  left: 20px;
  top: 20px;
  bottom: 10px;
}

.input1 {
  display: flex;
  justify-content: center;
  width: 315px;
  height: 48px;
  // top: 234px;

  opacity: 0px;

  border-radius: 13px;
  border-color: #003049;
  outline-color: #003049;
  position: relative;
  left: 20px;
  top: 30px;
}

.para2 {
  display: flex;

  color: var(--Schemes-Shadow, #000);

  font-feature-settings: "clig" off, "liga" off;

  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 106.667% */
  position: relative;
  left: 22px;
  top: 50px;
}

.dob {
  display: flex;
  // justify-content: center;
  justify-content: end;
  width: 320px;
  height: 48px;
  border-radius: 13px;
  border-color: #003049;
  outline-color: #003049;
  position: relative;
  top: 70px;
  left: 15px;
}
.para3 {
  display: flex;
  color: var(--Schemes-Shadow, #000);

  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  left: 22px;
  top: 80px;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-top: 5px;
  // margin-bottom: 5px;
  padding: 10px;
  border-color: #003049;
  position: relative;
  top: 90px;
  bottom: 5px;
  left: 20px;
}
#value1 {
  accent-color: #003049;
}

.para4 {
  display: flex;
  color: var(--Schemes-Shadow, #000);

  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  left: 22px;
  top: 100px;
}

.input-container {
  display: flex;
  justify-content: center;

  width: 315px;
  height: 48px;
  border-radius: 13px;
  position: relative;
  top: 110px;
  left: 6px;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
}

.mobile {
  display: flex;
  justify-content: center;

  width: 315px;
  height: 48px;
  border-radius: 13px;
  border-color: #003049;
  outline-color: #003049;
}

.para5 {
  display: flex;
  color: var(--Schemes-Shadow, #000);

  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  left: 22px;
  top: 140px;
}

.input-container2 {
  display: flex;
  justify-content: center;

  width: 340px;
  height: 48px;
  margin-left: 20px;
  border-radius: 13px;
  position: relative;
  // width: fit-content;
  left: 10px;
  top: 150px;
}

.input-container .icon2 {
  position: absolute;
  top: 50%;
  // right: 10px;
  left: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  padding-left: 10px;
}
.mobile2 {
  display: flex;
  justify-content: center;
  padding-right: 20px;
  width: 315px;
  height: 48px;
  border-radius: 13px;
  border-color: #003049;
  outline-color: #003049;
}

.para6 {
  display: flex;
  color: var(--Schemes-Shadow, #000);

  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  left: 22px;
  top: 180px;
}

.input2 {
  display: flex;
  justify-content: center;
  width: 315px;
  height: 48px;
  border-radius: 13px;
  border-color: #003049;
  outline-color: #003049;
  position: relative;
  left: 20px;
  top: 190px;
}
