<div class="container">
  <!-- Reactive Form Start-->
  <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
    <!-- User Detail Page Image -->
    <div class="user-img">
      <img src="userdetail/user.svg" />
    </div>

    <!-- User Detail Heading -->
    <div class="heading">
      <h1>User Details</h1>
    </div>

    <!-- Paragraph -->
    <div class="paragraph">
      <p>Please fill the required details</p>
    </div>

    <!-- User Name -->
    <div class="patient-container">
      <input
        class="patient-name"
        type="text"
        id="patientname"
        name="patientname"
        placeholder="Name"
        formControlName="username"
        required
      />
    </div>

    <!-- Gender -->
    <div class="gender-container">
        <div class="select-container">
      <select class="gender" name="gender" id="gender" formControlName="gender">
        <option value="" disabled selected>Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    </div>

    <!-- Blood Group -->
    <div class="blood-container">
        <div class="select-container">
            <select class="blood-group" name="blood" id="blood" formControlName="bloodgroup">
                <option value="" disabled selected>Blood Group</option>
                <option value="O+">O+</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
              </select>
        </div>
      </div>

    <!-- Aadhar Number -->
    <div class="aadhar-container">
      <input
        class="aadhar-number"
        type="tel"
        id="aadharnumber"
        name="aadharnumber"
        placeholder="Aadhar Number"
        formControlName="aadharnumber"
        minlength="12"
        maxlength="12"
        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 12)"
        required
      />
    </div>

    <!-- City -->
    <div class="city-container">
      <input
        class="city-name"
        type="text"
        id="cityname"
        name="cityname"
        formControlName="cityname"
        placeholder="City Name"
        required
      />
    </div>

      <!-- Email -->
      <div class="email-container">
        <input
          class="email"
          type="text"
          id="email"
          name="email"
          formControlName="email"
          placeholder="Email"
          required
        />
      </div>

    <!-- Submit Button -->
    <div class="submit-container">
      <button
        class="submit-btn"
        [disabled]="!detailForm.valid"
        [ngClass]="{ 'blue-button': !detailForm.valid }"
      >
        Submit
      </button>
    </div>
  </form>
  <!-- Reactive Form Ends -->
</div>
