<app-loader [isLoading]="loading"></app-loader>
<body>
  <main>
    <aside class="sidebar">
      <header class="user-block">
        <figure class="user-img">
          <img src="Rectangle 3464151 (1).svg" />
        </figure>
        <div class="user-info">
          <h4>Shreeva</h4>
          <h6>Project</h6>
        </div>
      </header>
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <div (click)="dashboard()" class="nav-link">
              <img src="Vector (2).svg" class="nav-icon" /> Dashboard
            </div>
          </li>
          <li class="nav-item">
            <div (click)="pendingpage()" class="nav-link">
              <img src="Frame (5).svg" class="nav-icon" /> Pending
            </div>
          </li>
          <li class="nav-item">
            <div (click)="approvepage()" class="nav-link">
              <img src="noun-approved-7018854 1.svg" class="nav-icon" /> Approved
            </div>
          </li>
          <li class="nav-item">
            <div (click)="cancelpage()" class="nav-link">
              <img src="1.svg" class="nav-icon" /> Cancelled
            </div>
          </li>
          <li class="nav-item">
            <div (click)="readydonor()" class="nav-link">
              <img src="Group (1).svg" class="nav-icon" /> Ready Donor
            </div>
          </li>
          <li class="nav-item">
            <div (click)="userpermission()" class="nav-link">
              <img src="noun-permission-6109283 1.svg" class="nav-icon" /> User
              and Permission
            </div>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="main-container">
      <header class="header">
        <h1 class="page-title">Allahabad Medical Association</h1>
      </header>
      <div class="content-block">
        <div class="search">
          <h2>Ready Donor</h2>
          <div class="search-block">
            <input
              type="text"
              name="search"
              id="search"
              class="form-control"
              placeholder="Search"
            />
            <button class="btn new">Newest</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <thead>
                <tr>
                  <th>Patient Name</th>
                  <th>Aadhar Number</th>
                  <th>Required Blood</th>
                  <th>Available Donor</th>
                  <th>Assigned Donor</th>
                  <th class="report-cell">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pending of pendingSummary">
                  <td>{{ pending && pending.name ? pending.name : "-" }}</td>
                  <td>{{ pending && pending.aadharNumber ? pending.aadharNumber : "-" }}</td>
                  <td>{{ pending && pending.unit ? pending.unit : "-" }}</td>
                  <td>{{ pending && pending.availableDonor ? pending.availableDonor : "-" }}</td>
                  <td>{{ pending && pending.assignedDonor ? pending.assignedDonor : "-" }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="openModal(pending.id)">Assign</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-background" *ngIf="isOpen">
      <div>
      <div class="modal">
        <span class="close" (click)="closeModal()">×</span>
        <h2>Donor List</h2>
        <div class="card">
            <div class="card-body">
              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <thead>
                  <tr>
                    <th>Donor Name</th>
                    <th>Aadhar Number</th>
                    <th>Blood Group</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th class="report-cell">Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="!loading">
                  <tr *ngFor="let donor of donorSummary">
                    <td>{{ donor && donor.donorName ? donor.donorName : "-" }}</td>
                    <td>{{ donor && donor.aadharNumber ? donor.aadharNumber : "-" }}</td>
                    <td>{{ donor && donor.bloodGroup ? donor.bloodGroup : "-" }}</td>
                    <td>{{ donor && donor.contact ? donor.contact : "-" }}</td>
                    <td>{{ donor && donor.status ? donor.status : "-" }}</td>
                    <td>
                      <button class="btn btn-danger"  (click)="assignDonor(selectedPatientId, donor.id)" (closeModal)="handleCloseAndRefresh()">Assign</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
