#areaAddModel {
    .header-title {
      justify-content: space-between;
      display: flex;
    }
  }
  .wrapper {
    padding: 20px;
  
    .space_between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .imgUpload{
      .remove_btn{
        border-color:#F24822;
      }
    .profile_section{
      width: 100px;
      height: 100px;
    }
    p{
      color:#F24822;
      margin: 1px 1px 1px 2px;
    }
  }
  
  
    .droplist {
      width: 100%;
  
      border-radius: 12px;
      border: 0.604px solid var(--Booked, #bcbcbc);
      background: #fbfbfb;
      margin-bottom: 15px;
  
      
  
      
  
      .city {
  
        border-top: 1px solid #bcbcbc;
        color: #2f6b96;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 27px */
        background: #edf1f7;
  
        .flex{
          align-items: center;
          display: flex;
          margin-right: 2px;
  
        }
        p {
          margin: 0px;
          padding: 10px 0px 10px 15px;
        }
        p:last-child{
  
          border-radius: auto auto 12px 12px;
        }
      }
  
      .district {
  
  
        border-top: 1px solid #bcbcbc;
        background: #e3eaf3;
        color: #2f6b96;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        padding-right: 25px;
  
        p {
          margin: 0px;
          padding: 4px 0px 4px 30px;
          background: #e3eaf3;
        }
        
      }
      .district:last-child,.city:last-child{
  
        border-radius: 0px 0px 12px 12px;
      }
  
      .droplist_heading {
        color: #00421f;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 27px */
  
        .flex{
          align-items: center;
          display: flex;
          margin-right: 2px;
  
        }
  
        :hover {
          cursor: pointer;
        }
        p {
          margin-bottom: 0px;
          padding: 12px 0px 12px 15px;
        }
      }
    }
  
    .flex_space_between{
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }
  
    .input_field {
      width: 100%;
      padding: 10px;
  
      border-radius: 12px;
      border: 0.604px solid var(--Booked, #bcbcbc);
      background: #fbfbfb;
      margin-bottom: 15px;
  
      input[type=text]{
        width: 100%;
      }
  
      .input_role_name {
        width: 100%;
      }
  
      span {
        color: #ec0707;
  
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }
  
      input[type="text"] {
        border: none;
        outline: none;
        width: 100%;
      }
      input[type="email"] {
        border: none;
        outline: none;
      }
  
      ::placeholder {
        color: #878787;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
      }
    }
  
    button {
      border-radius: 16px;
      width: 200px;
      height: 52px;
      padding: 10px;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
  
    button {
      border: 1px solid #094a28;
      background: transparent;
      border-radius: 20px;
      padding: 2px 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #094a28;
  
      .mat-icon {
        margin-left: 15px;
      }
  
      &:hover {
        background-color: #094a28;
        color: #fff;
      }
    }
  
    .modal-close-icon {
      cursor: pointer;
    }
  
    .heading-text {
      font-size: 20px;
      text-transform: capitalize;
      align-items: center;
      color: #00421f;
    }
  }
  .custom-outline-field {
    border-color: red; /* Change this to the desired color */
  }
  
  ::ng-deep app-add-user .areadd {
    .mdc-floating-label,
    .mat-mdc-select-value-text {
      color: #094a28;
    }
  
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: #edf1f7 !important;
      border-radius: 12px;
      border: 1px solid #bcbcbc;
    }
  
    .mdc-line-ripple,
    .mat-mdc-form-field-subscript-wrapper,
    .mat-mdc-select-arrow-wrapper {
      display: none;
    }
  }
  
  .label {
    margin-left: 5px;
  }
  
  .accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    padding: 10px;
    display: none;
  }
  
  .open {
    display: block;
  }
  .invalid-field {
    border: 2px solid #ff6161 !important;
  }
  
  
  .vertical_scroll {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }