canvas{
  // height: 280px !important;
  position: relative;
}
.datepick111{
position: absolute;
scale: .8;
top: 5px;
right: 0;
}

.no-data-message {
  color: rgb(209, 137, 137);
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
