<div class="container">
    <div class="img">
        <img src="surveyForm/1.svg" />
    </div>
    <div class="field">
        <label class="field-label para11">Full Name</label>
        <div class="fullname">
            <input type="text" placeholder=" full name" class="input1" />
        </div>
    </div>
    <div class="field">
        <label class=" field-label para21">Date of Birth</label>
        <div class="birth">
            <input type="date" class="dob" />
        </div>
    </div>
    <div class="radiobtn field">
        <label class="field-label para31">Gender</label>
        <div class="radio">
            <div class="radio-item">
                <input name="gender" type="radio" id="value1" value="male" checked />
                <label for="value1" id="male">Male</label>
            </div>
            <div class="radio-item">
                <input name="gender" type="radio" id="value1" value="female" />
                <label for="value1" id="female">Female</label>
            </div>
            <div class="radio-item">
                <input name="gender" type="radio" id="value1" value="other" />
                <label for="value1" id="other">Other</label>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="para41 field-label">Mobile Number</label>
        <div class="input-container">
            <input type="text" class="mobile" placeholder="mobile no " />
            <img src="surveyForm/mobile.svg" class="icon" />
        </div>
    </div>
    <div class="field">
        <label class="para51 field-label">Email</label>
        <div class="input-container2">
            <input type="text" class="mobile2" />
            <img src="surveyForm/email.svg" class="icon2" />
        </div>
    </div>
    <div class="footer">
        <label class="para11 field-label">Address</label>
        <div class="fullname">
            <input type="text" class="input2" placeholder="streat" />
        </div>
        <div class="Address field">
            <input type="text" class="adres1 sm" placeholder="city" />
            <input type="text" class="adres2 sm" placeholder="state" />
        </div>
    </div>
    <div class="btn field1">
        <button class="report-btn" >NEXT</button>
    </div>
  </div>