<app-header-with-back [title]="'Contact Us'"></app-header-with-back>
<div class="container">
  <div class="img-wrapper">
    <img src="contact.svg" />
  </div>

  <div class="address-wrapper" (click)="openMaps()">
    <div class="address">
      <div class="icon">
        <img src="location.svg" />
      </div>
      <div class="text">
        <p>3432 Divi , Sector 65 , Noida</p>
      </div>
    </div>
    <div class="address" (click)="openDialer()">
      <div class="icon">
        <img src="call.svg" />
      </div>
      <div class="text">
        <p>+91 7676767677</p>
      </div>
    </div>
    <div class="address" (click)="openEmail()">
      <div class="icon">
        <img src="email.svg" />
      </div>
      <div class="text">
        <p>shreeva&#64;gmail.com</p>
      </div>
    </div>
   <div class="button-wrapper">
    <div class="btn">
        <button class="button-container" (click)="openFb()">
            <img src="fb.svg">
        </button>
        <button class="button-container" (click)="openInsta()">
            <img src="insta.svg">
        </button> <button class="button-container" (click)="openWhatsapp()">
            <img src="whatsapp.svg">
        </button>
   </div>
  </div>
</div>
