* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  // position: relative;
  // top:200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  background: #ffffff;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // border-radius: 10px;
  width: auto;
  height: 100vh;
  // max-width: 400px;
}

.logo-container img {
  width: 220px;
  height: 190px;
  text-align: center;
  position: relative;

  top: 43px;
  // left: 50px;



  // margin-bottom: 20px;
}

h1 {
  position: relative;
  top: 90px;
  background: var(--Blue-linear,
      linear-gradient(180deg, #003049 0%, #005079 99.99%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  //styleName: Title/Bold2;
  font-family: Arial;
  //  font-size: 30px;
  // font-weight: 700;
  // line-height: 34.5px;
  // text-align: center;

}


p {
  position: relative;
  top: 110px;
  font-size: 16px;
  color: #7f8c8d;
  // margin-bottom: 20px;
}

.input-group {
  position: relative;
  top: 140px;
  // margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
   color: #bdc3c7;
  // color: var(
  //   --Red-linear,
  //   linear-gradient(
  //     180deg,
  //     #D62828 0%,
  //     rgba(188, 35, 35, 0.95) 30.57%,
  //     rgba(165, 31, 31, 0.9) 53.9%,
  //     rgba(138, 26, 26, 0.85) 80.19%,
  //     rgba(112, 21, 21, 0.8) 100%
  //   )
  // );
}

.input-group input {
  width: 328px;
  height: 41px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  background: linear-gradient(
    180deg,
    #D62828 0%,
    rgba(188, 35, 35, 0.95) 30.57%,
    rgba(165, 31, 31, 0.9) 53.9%,
    rgba(138, 26, 26, 0.85) 80.19%,
    rgba(112, 21, 21, 0.8) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text; /* Ensure gradient is clipped to the text */

  
::placeholder {
  background: var(--Color-2, #666666);
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
 background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
}


button {
  position: relative;
  top: 200px;
  width: Fixed (328px)px;
  height: Fixed (48px)px;
  padding: 10px;
  // background-color: linear-gradient(180deg, #D62828 0%, rgba(188, 35, 35, 0.9492) 30.57%, rgba(165, 31, 31, 0.9032) 53.9%, rgba(138, 26, 26, 0.8502) 80.19%, rgba(112, 21, 21, 0.8) 100%);
  background: var(
    --Red-linear,
    linear-gradient(
      180deg,
      #D62828 0%,
      rgba(188, 35, 35, 0.95) 30.57%,
      rgba(165, 31, 31, 0.9) 53.9%,
      rgba(138, 26, 26, 0.85) 80.19%,
      rgba(112, 21, 21, 0.8) 100%
    )
  );
  // background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 16px 130px 16px 130px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0.4px;

}

button:disabled {
  background:
  linear-gradient(180deg, #D62828 0%, rgba(188, 35, 35, 0.9492) 30.57%, rgba(165, 31, 31, 0.9032) 53.9%, rgba(138, 26, 26, 0.8502) 80.19%, rgba(112, 21, 21, 0.8) 100%);
  opacity: 0.6;
// background-clip: text;
// -webkit-background-clip: text;
//  -webkit-fill-color: transparent;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #c0392b;
}