<div class="stats three">
    <div class="stat">
        <!-- <img src="assets/dashboard/totalSales.svg" alt=""> -->
        <div class="detail">
            <div class="title">Total Request</div>
            <div class="value">{{ totalRequest }}</div>
        </div>
    </div>
    <div class="stat">
        <!-- <img src="assets/dashboard/totalDiscounts.svg" alt=""> -->
        <div class="detail">
            <div class="title2">Approved</div>
            <div class="value">{{ approved  }}</div>
        </div>
    </div>
    
    <div class="stat">
        <!-- <img src="assets/dashboard/averageBill.png" alt=""> -->
        <div class="detail">
            <div class="title3">Rejected</div>
            <div class="value">{{ rejected }}</div>
        </div>
    </div>


    <div class="stat">
        <!-- <img src="assets/dashboard/availableAgents.png" alt=""> -->
        <div class="detail">
            <div class="title4">Pending</div>
            <div class="value">{{ pending}}</div>
        </div>
    </div>

</div>