<div class="container">
  <!-- Reactive Form Start-->
  <form [formGroup]="requirementForm" (ngSubmit)="onSubmit()">
    <!-- Patient Name -->
    <div class="patient-container">
      <input
        class="patient-name"
        type="text"
        id="patientname"
        name="patientname"
        placeholder="Patient Name"
        formControlName="patientname"
        required
      />
    </div>

    <!-- Gender -->
    <div class="gender-container">
      <div class="select-container">
      <select class="gender" name="gender" id="gender" formControlName="gender">
        <option value="" disabled selected>Select gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    </div>

    <!-- Aadhar Number -->
    <div class="aadhar-container">
      <input
        class="aadhar-number"
        type="number"
        id="aadharnumber"
        name="aadharnumber"
        placeholder="Aadhar Number"
        formControlName="aadharnumber"
        minlength="12"
        maxlength="12"
        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 12)"
        required
      />
    </div>

    <!-- Hospital Name -->
    <div class="hospital-container">
      <input
        class="hospital-name"
        type="text"
        id="hospitalname"
        name="hospitalname"
        formControlName="hospitalname"
        placeholder="Hospital Name"
        required
      />
    </div>

    <!-- City -->
    <div class="city-container">
      <input
        class="city-name"
        type="text"
        id="cityname"
        name="cityname"
        formControlName="cityname"
        placeholder="City Name"
        required
      />
    </div>

    <!-- Unit of Blood Required -->
    <div class="blood-container">
      <input
        class="blood-count"
        type="number"
        id="bloodcount"
        name="bloodcount"
        formControlName="bloodcount"
        placeholder="Unit of Blood Required"
        minlength="1"
        maxlength="1"
        oninput="this.value = this.value.replace(/[^1-9]/g, '').slice(0, 1)"
        required
      />
    </div>

    <!-- Bed Number -->
    <div class="bed-container">
      <input
        class="bed-number"
        type="text"
        id="bednumber"
        formControlName="bednumber"
        name="bednumber"
        placeholder="Patient Bed Number"
        required
      />
    </div>

    <!-- Report -->
    <div class="report-container" (click)="fileInput.click()">
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="changePhoto($event)"
        accept="image/*"
      />
      <div class="report-btn">
        Report Image
        <div>
          <img
            class="profile_section"
            [src]="this.requirementForm.value.report"
          />
        </div>
        <img class="download-img" src="RequirementForm/download.svg" />
      </div>
    </div>
    <p *ngIf="isImgSizeValid">*Image size should be</p>
    <p *ngIf="isImgSizeValid">less than 500kb</p>

    <!-- Submit Button -->
    <div class="submit-container">
      <button
        class="submit-btn"
        [disabled]="!requirementForm.valid"
        [ngClass]="{ 'blue-button': !requirementForm.valid }"
      >
        Submit
      </button>
    </div>
  </form>
  <!-- Reactive Form Ends -->
</div>
