.container {
  // background-color: rgb(36, 28, 61);
  height: auto;
  width: auto;
}

// Patient Name
.patient-name {
  width: 80%;
  height: 48px;
  flex-shrink: 0;
  padding-left: 23px;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  color: linear-gradient(180deg, #003049 0%, #005079 99.99%);
  margin-top: 5vh;
}

::placeholder {
  background: var(
    --Blue-linear,
    linear-gradient(180deg, #003049 0%, #005079 99.99%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Overall Container Css
.patient-container,
.gender-container,
.aadhar-container,
.hospital-container,
.city-container,
.blood-container,
.bed-container,
.report-container,
.submit-container {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

// Gender
.gender {
  width: 80vw;
  margin-right: 25px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  background: linear-gradient(180deg, #003049 0%, #005079 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left:9px;
}

// Aadhar Number
.aadhar-number {
  width: 80%;
  height: 48px;
  flex-shrink: 0;
  padding-left: 23px;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  color: linear-gradient(180deg, #003049 0%, #005079 99.99%);
}

// Hospital Name
.hospital-name {
  width: 80%;
  height: 48px;
  flex-shrink: 0;
  padding-left: 23px;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  color: linear-gradient(180deg, #003049 0%, #005079 99.99%);
}

// City
.city-name {
  width: 80%;
  height: 48px;
  flex-shrink: 0;
  padding-left: 23px;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  color: linear-gradient(180deg, #003049 0%, #005079 99.99%);
}

// Unit of Blood Required
.blood-count {
  width: 80%;
  height: 48px;
  flex-shrink: 0;
  padding-left: 23px;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  color: linear-gradient(180deg, #003049 0%, #005079 99.99%);
}

// Patient Bed Number
.bed-number {
  width: 80%;
  height: 48px;
  flex-shrink: 0;
  padding-left: 23px;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  color: linear-gradient(180deg, #003049 0%, #005079 99.99%);
}

// Report Upload Button
.report-btn {
  width: 80%;
  height: 48px;
  flex-shrink: 0;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  background: linear-gradient(180deg, #003049 0%, #005079 99.99%);
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 23px;
  margin-bottom: 17px;
}

// Image Section
.download-img {
  padding-right: 10px;
}

// Submit Button
.submit-btn {
  width: 80%;
  height: 48px;
  color: white;
  flex-shrink: 0;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  color: linear-gradient(180deg, #003049 0%, #005079 99.99%);
  background: var(
    --Red-linear,
    linear-gradient(
      180deg,
      #d62828 0%,
      rgba(188, 35, 35, 0.95) 30.57%,
      rgba(165, 31, 31, 0.9) 53.9%,
      rgba(138, 26, 26, 0.85) 80.19%,
      rgba(112, 21, 21, 0.8) 100%
    )
  );
}

// Disable Button Styling
.blue-button {
  border-radius: var(--CR-10, 10px);
  opacity: 0.4;
  background: var(
    --Red-linear,
    linear-gradient(
      180deg,
      #d62828 0%,
      rgba(188, 35, 35, 0.95) 30.57%,
      rgba(165, 31, 31, 0.9) 53.9%,
      rgba(138, 26, 26, 0.85) 80.19%,
      rgba(112, 21, 21, 0.8) 100%
    )
  );
}

// Image Uploading Styling
.profile_section {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 100%;
  border-radius: 20px;
}

//Container for blood group and gender select tag
.select-container {
  width: 80%;
  height: 48px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding-left: 23px;
  border-radius: var(--CR-10, 10px);
  border: 1px solid var(--Blue-linear, #003049);
  color: linear-gradient(180deg, #003049 0%, #005079 99.99%);
}
