
<mat-card class="profile-card">
  <app-header-with-back [title]="'Account'"></app-header-with-back>
  <div class="profile-header">
      <div class="profile-image-container" (click)="editprofile()">
          <img class="prof" [src]="userData.img " (error)="onImageError($event)" alt="Profile Picture" />
      </div>
      <h2>{{userData.name}}</h2>
  </div>
  <div class="edit-list">
      <mat-list>
          <mat-list-item>
              <img src="editProfile-img/Vector (2).png" class="profile-icon" alt="Edit Profile Icon">
              <h4 (click)="routing()">Edit Profile </h4>
          </mat-list-item>
          <mat-list-item>
            <img src="editProfile-img/Call.png" class="profile-icon" alt="Edit Profile Icon">
              <h4 (click)="contact()">Contact Us </h4>
          </mat-list-item>
          <mat-list-item>
            <img src="editProfile-img/Vector (3).png" class="profile-icon" alt="Edit Profile Icon">
              <h4 (click)="help()">Help & FAQ</h4>
          </mat-list-item>
          <mat-list-item>
            <img src="editProfile-img/profile-2user.png" class="profile-icon" alt="Edit Profile Icon">
              <h4 (click)="openInviteFriendModal()">Invite Friend</h4>
          </mat-list-item>
          <mat-list-item>
            <img src="editProfile-img/Frame (1).png" class="profile-icon" alt="Edit Profile Icon" (click)="testimonial()">
              <h4 (click)="testimonial()">Testimonial</h4>
          </mat-list-item>
          <mat-list-item (click)="logout()">
            <img src="editProfile-img/Group 10149.png" class="profile-icon" alt="Edit Profile Icon">
              <h4>Log Out</h4>
          </mat-list-item>
      </mat-list>
      <div class="footer">
         <img src="editProfile-img/Shreeva-logo-transparent 1.png" class="span-profile-icon" alt="Edit Profile Icon"> 
          <span>Powered By Shreeva</span>
      </div>
  </div>

</mat-card>
<app-bottom-navbar></app-bottom-navbar>