<!-- <app-user-and-permission></app-user-and-permission> -->
<!-- <app-pending></app-pending> -->
<!-- <app-login></app-login> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-pending></app-pending> -->
<!-- <app-total-request></app-total-request> -->
<!-- <app-approved-request></app-approved-request> -->
<!-- <app-chart-container></app-chart-container> -->
<!-- <app-overall-report></app-overall-report> -->
<!-- <app-request-rejected></app-request-rejected> -->
<!-- <app-statistics></app-statistics> -->
<!-- <app-cancelled></app-cancelled> -->
<app-approved></app-approved>

