<div class="container">
 <form [formGroup]="surveyForm">
    <div class="img">
      <img src="surveyForm/1.svg" />
    </div>

    <div class="progress-bar">
      <div
        *ngFor="let step of progressSteps; let i = index"
        [class.active]="i <= currentStep"
        class="progress-step"
      >
        <span class="step-number">{{ i + 1 }}</span>
      </div>
    </div>

    <!-- Blood Type Section -->
    <div class="field bloodtype">
      <label class="text1">What is Your Blood Type?</label>
      <div class="radio radio-group">
        <div class="first">
          <div>
            <input type="radio" id="value1-A" class='bg' name="bloodgroup" value="A+" formControlName="bloodgroup" required checked/>
            <label for="value1-A" class="radio-label">A+</label>
          </div>
          <div>
            <input type="radio" id="value2-B" class='bg' name="bloodgroup" value="B+" formControlName="bloodgroup" required/>
            <label for="value2-B" class="radio-label">B+</label>
          </div>
          <div>
            <input type="radio" id="value4-O" class='bg' name="bloodgroup" value="O+" formControlName="bloodgroup" required/>
            <label for="value4-O" class="radio-label">O+</label>
          </div>
          <div>
            <input type="radio" id="value3-AB" class='bg' name="bloodgroup" value="AB+" formControlName="bloodgroup" required/>
            <label for="value3-AB" class="radio-label">AB+</label>
          </div>
        </div>
        <div class="second">
          <div>
            <input type="radio" id="value5-a" class='bg' name="bloodgroup" value="A-" formControlName="bloodgroup" required/>
            <label for="value5-a" class="radio-label">A-</label>
          </div>
          <div>
            <input type="radio" id="value6-b" class='bg' name="bloodgroup" value="B-" formControlName="bloodgroup" required/>
            <label for="value6-b" class="radio-label">B-</label>
          </div>
          <div>
            <input type="radio" id="value8-o" class='bg' name="bloodgroup" value="O-" formControlName="bloodgroup" required/>
            <label for="value8-o" class="radio-label">O-</label>
          </div>
          <div>
            <input type="radio" id="value7-ab" class='bg' name="bloodgroup" value="AB-" formControlName="bloodgroup" required/>
            <label for="value7-ab" class="radio-label">AB-</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Donation Section -->
    <div class="donate field">
      <label class="text2">Have You Donated Previously?</label>
      <div class="Donated">
        <div>
          <input type="radio" id="value1" name="donated" value="Yes" formControlName="donated" required checked/>
          <label for="value1" class="radio-label">Yes</label>
        </div>
        <div>
          <input type="radio" id="value2" name="donated" value="No" formControlName="donated" required/>
          <label for="value2" class="radio-label">No</label>
        </div>
      </div>
    </div>

    <!-- Last Donation Date Section -->
    <div class="field">
      <label class="field-label">When did you last donate blood?</label>
      <div>
        <input type="date" class="datepick" formControlName="lastdonation" required/>
      </div>
    </div>

    <!-- Medication Section -->
    <div class="field condition">
      <label class="field-label">Have you taken any of these in the past 72 hours?</label>
      <div class="checkbox-container">
        <div class="checkbox-group">
          <div class="checkbox-item">
            <input type="checkbox" class="ch" value="Antibiotics" id="antibiotics" (change)="onCheckboxChange($event)" required />
            <label for="antibiotics" class="lab">Antibiotics</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" class="ch" value="Aspirin" id="aspirin" (change)="onCheckboxChange($event)" required />
            <label for="aspirin" class="lab">Aspirin</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" class="ch" value="Alcohol" id="alcohol" (change)="onCheckboxChange($event)" required/>
            <label for="alcohol" class="lab">Alcohol</label>
          </div>
        </div>
        <div class="checkbox-group">
          <div class="checkbox-item">
            <input type="checkbox" class="ch" value="Steroids" id="steroids" (change)="onCheckboxChange($event)" required />
            <label for="steroids" class="lab">Steroids</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" class="ch" value="Vaccination" id="vaccination" (change)="onCheckboxChange($event)" required/>
            <label for="vaccination" class="lab">Vaccination</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" class="ch" value="Drugs" id="drugs" (change)="onCheckboxChange($event)" required />
            <label for="drugs" class="lab">Drugs</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Surgery Section -->
    <div class="field">
      <label class="text4">Any history of surgery or blood transfusion in the past six months?</label>
      <div class="Sa">
        <div>
          <input type="radio" id="yes" name="surgery" value="yes" formControlName="surgery" required checked/>
          <label for="yes" class="radio-label">Yes</label>
        </div>
        <div>
          <input type="radio" id="no" name="surgery" value="No" formControlName="surgery" required/>
          <label for="no" class="radio-label">No</label>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="btn">
      <button class="report-btn" (click)="onSubmit()" [disabled]="!surveyForm.valid" [ngClass]="{ 'blue-button': !surveyForm.valid }">
        Submit
      </button>
    </div>
  </form>
</div>
