<div class="container">
  <form [formGroup]="surveyForm">
    <div class="img">
      <img src="surveyForm/1.svg" />
    </div>
    <div class="field bloodtype">
      <label class="text1">What is Your Blood Type</label>
      <div class="radio radio-group">
        <div class="first">
          <div>
            <input
              type="radio"
              id="value1-A"
              name="bloodgroup"
              value="A+"
              formControlName="bloodgroup"
              required
              checked

            />
            <label for="value1-A" id="bg">A+</label>
          </div>
          <div>
            <input
              type="radio"
              id="value2-B"
              name="bloodgroup"
              value="B+"
              required
              formControlName="bloodgroup"
            />
            <label for="value2-B" id="bg">B+</label>
          </div>
          <div>
            <input
              type="radio"
              id="value3-AB"
              name="bloodgroup"
              value="AB+"
              required
              formControlName="bloodgroup"
            />
            <label for="value3-AB" id="bg">AB+</label>
          </div>
          <div>
            <input
              type="radio"
              id="value4-O"
              name="bloodgroup"
              value="O+"
              required
              formControlName="bloodgroup"
            />
            <label for="value4-O" id="bg">O+</label>
          </div>
        </div>
        <div class="second">
          <input
            type="radio"
            id="value5-a"
            value="A-"
            required
            name="bloodgroup"
            class="A"
            formControlName="bloodgroup"
          />
          <label for="value5-a" id="bg">A-</label>
          <div>
            <input
              type="radio"
              id="value6-b"
              name="bloodgroup"
              required
              value="B-"
              formControlName="bloodgroup"
            />
            <label for="value6-b" id="bg">B-</label>
          </div>
          <div>
            <input
              type="radio"
              id="value7-ab"
              name="bloodgroup"
              required
              value="AB-"
              formControlName="bloodgroup"
            />
            <label for="value7-ab" id="bg">AB-</label>
          </div>
          <div>
            <input
              type="radio"
              id="value8-o"
              name="bloodgroup"
              required
              value="O-"
              formControlName="bloodgroup"
            />
            <label for="value8-o" id="bg">O-</label>
          </div>
        </div>
      </div>
    </div>
    <div class="donate field">
      <label class="text2">Have You Donated Previously</label>
      <div class="Donated">
        <div>
          <input type="radio" id="value1" name="donated" value="Yes" required checked formControlName="donated"/>
          <label for="value1" id="bg">Yes</label>
        </div>
        <div>
          <input type="radio" id="value2" name="donated" value="No" required formControlName="donated"/>
          <label for="value2" id="bg">No</label>
        </div>
      </div>
    </div>
    <div class="field">
      <label id="calender">When did you last donate blood?</label>
      <div>
        <input type="date" class="datepick" formControlName="lastdonation" required/>
      </div>
    </div>
    <div class="field condition>">
      <div class="text3">Have you taken any of these in the past 72 hours?</div>
      <div class="box">
        <div class="check1">
          <div>
            <input type="checkbox" required id="value7" value="Antibiotics" (change)="onCheckboxChange($event)"/>
            <label for="value7" id="correct">Antibiotics </label><br />
          </div>
          <div>
            <input type="checkbox" required id="value8" value="Aspirin" (change)="onCheckboxChange($event)"/>
            <label for="value8" id="correct">Aspirin </label><br />
          </div>
          <div>
            <input type="checkbox" required id="value3" value="Alcohol" (change)="onCheckboxChange($event)"/>
            <label for="value3" id="correct">Alcohol</label><br />
          </div>
        </div>
        <div class="check2">
          <div>
            <input type="checkbox" required id="value4" value="Steriods" (change)="onCheckboxChange($event)"/>
            <label for="value4" id="correct">Steriods </label><br />
          </div>
          <div>
            <input type="checkbox" id="value5" required value="Vaccination" (change)="onCheckboxChange($event)"/>
            <label for="value5" id="correct">Vaccination </label><br />
          </div>
          <div>
            <input type="checkbox" id="value6" value="Drugs" required (change)="onCheckboxChange($event)"/>
            <label for="value6" id="correct">Drugs</label><br />
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="text4">
        Any history of surgery or blood transfusion in the past six months?
      </div>
      <div class="Sa">
        <div>
          <input type="radio" id="yes" required name="surgery" value="yes" checked formControlName="surgery"/>
          <label for="yes" id="bg">Yes</label>
        </div>
        <div>
          <input type="radio" id="no" required name="surgery" value="No" formControlName="surgery"/>
          <label for="no" id="bg">No</label>
        </div>
      </div>
    </div>
    <div class="btn">
      <button class="report-btn" (click)="onSubmit()" [disabled]="!surveyForm.valid"
      [ngClass]="{ 'blue-button': !surveyForm.valid }" >Submit</button>
    </div>
  </form>
</div>
