.thank{
    // display: flex;
    // justify-content: center;
    width: 339px;
height: 260px;
top: 73px;
left: 10px;
gap: 0px;
border-radius: 15px 0px 0px 0px;
}
    
  





.img{
    width: 80px;
    height: 71px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    left:145px;
    
    
    
    
}
.text{
    color:  #003049 ;

    width: 300px;
height: 25px;
display: flex;
justify-content: center;
position: relative;
top: 115px;
right:45px;
left:40px;


}
.para{
    width: 282px;
// height: 80px;
display: flex;
justify-content: center;
position: relative;
top: 150px;
right:45px;
left:45px;


}
.p{
    width: 282px;
    height: 80px;  
    display: flex;
justify-content: center;
position: relative;
top: 160px;
right:45px; 
}

.thank{
    background: linear-gradient(178.92deg, #75C1E9 0.91%, #D6839D 54.86%, #D5294D 99.09%);
    width: 339px;
    height: 360px;
    position:relative;
    
    left: 10px;
    border-radius: 15px;
    
}