<!-- <img src="background.svg" id="ss" />
<div class="container">
  <div class="background">
    <div class="login-panel">
      <h1 class="panel-title">AMA PANEL</h1>
      <p class="panel-subtitle" id="hello">Hello! Log in with your gmail.</p>
      <button class="login-button" (click)="auth.googleSignin()">
        <img src="Google (1).svg" /> Login
      </button>
    </div>
  </div>
</div> -->

<!-- <div class="back-img">
  <div class="cen-container">
    <div class="heading">
      <h1>BLOOD BANK PANEL</h1>
    </div>
    <div class="paragraph">
      <p>Hello! Log in with your gmail.</p>
    </div>

    <button class="login-btn" (click)="auth.googleSignin()">
      <div class="btn-img">
        <img src="google.svg" />

        <h2>Login</h2>
      </div>
    </button>
  </div>
</div> -->

<!-- 
<div class="back-img">
  <div class="cen-container">
    <div class="heading">
      <h1>BLOOD BANK PANEL</h1>
    </div>
    <div class="paragraph">
      <p>Hello! Log in with your gmail.</p>
    </div>

    <button class="login-btn" (click)="auth.googleSignin()">
      <div class="btn-img">
        <img src="google.svg" />
        <h2>Login</h2>
      </div>
    </button>
  </div>
</div> -->




<div class="back-img">
  <img src="homebg.svg" alt="Background" class="background-img" />
  <div class="cen-container">
    <div class="heading">
      <h1>BLOOD BANK PANEL</h1>
    </div>
    <div class="paragraph">
      <p>Hello! Log in with your gmail.</p>
    </div>
    <button class="login-btn" (click)="auth.googleSignin()">
      <div class="btn-img">
        <img src="google.svg" />
        <h2>Login</h2>
      </div>
    </button>
  </div>
</div>

