<div class="profile-container">
  <div class="header">
    <button class="back-button"(click)="goBack()">
      <span class="material-icons">arrow_back</span>
    </button>
    <h2>Profile</h2>
  </div>
  <div class="profile-picture">
    <img src="editProfile-img/Ellipse 31.png" alt="Profile Picture">
    <button class="edit-picture-button">
      <span class="material-icons">camera_alt</span>
    </button>
  </div>
  <form>
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" id="fullName" name="fullName" placeholder="Enter your Name">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select id="gender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="bloodGroup">Blood Group</label>
      <select id="bloodGroup" name="bloodGroup">
        <option value="b+">B+</option>
        <option value="a+">A+</option>
        <option value="ab+">AB+</option>
        <option value="o+">O+</option>
      </select>
    </div>
    <div class="form-group">
      <label for="aadharNumber">Aadhar Number</label>
      <input type="text" id="aadharNumber" name="aadharNumber" minlength="12" maxlength="12">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" name="city">
    </div>
    <div class="form-actions">
      <button type="button" class="cancel-button">Cancel</button>
      <button type="submit" class="save-button">Save</button>
    </div>
  </form>
</div>
