<app-loader [isLoading]="loading"></app-loader>
<div class="user-permission-container">
  <!-- <app-bbsidebar></app-bbsidebar> -->
  <app-sidebar></app-sidebar>
  <main class="content">
    <header class="header">
      <h1>Allahabad Medical Association</h1>
    </header>
    <section class="user-permission">
      <div class="header d-flex">
        <h2>User and Permission</h2>
        <button class="button" (click)="openAddUserModal()">Add New</button>
      </div>
      <div class="user-cards"*ngIf="!loading">
        <div *ngFor="let user of users" class="user-card">
          <div class="user-detail">
            <img [src]="user?.['userDetail'].img" alt="User Image" class="user-img">
            <div class="user-info">
              <p class="user-name">{{user?.['userDetail'].name}}</p>
              <p class="role-detail">{{getRoleName(user?.['userDetail'].role)}}</p>
              <p class="user-email">{{user?.['userDetail'].email}}</p>
            </div>
          </div>
          <div class="user-actions">
            <label class="switch">
              <input type="checkbox" [checked]="user?.['userDetail'].active" (change)="changeUserStatus(user.id, !user?.['userDetail'].active)">
              <span class="slider round"></span>
            </label>
            <img src="service/pencil-line.svg" alt="Edit" (click)="editUser(user)" class="icon">
            <img src="service/delete.svg" alt="Delete" (click)="deleteUser(user.id)" class="icon">
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
