<app-header-with-back [title]="'Status'"></app-header-with-back>
<div class="header">
  <div class="button">
    <button
      class="btn"
      id="btn1"
      (click)="changeColor('btn1')"
      [ngClass]="{ active: btn1Active, inactive: !btn1Active }"
    >
      AMA Verification
    </button>
  </div>
  <div class="button">
    <button
      class="btn"
      id="btn2"
      (click)="changeColor('btn2')"
      [ngClass]="{ active: btn2Active, inactive: !btn2Active }"
    >
      Blood Bank Status
    </button>
  </div>
</div>

<div *ngIf="btn1Active">
  <!-- Content for AMA Verification -->
  <div class="ama-details" *ngFor="let user of userData">
    <div class="info-container">
      <div class="detail-row">
        <div class="field-1">
          <p>Patient Name</p>
        </div>
        <div class="field-0">
          <p>:</p>
        </div>
        <div class="field-2">
          <p>{{user.patientname}}</p>
        </div>
      </div>
      <div class="detail-row">
        <div class="field-1">
          <p>Aadhar Number</p>
        </div>
        <div class="field-0">
          <p>:</p>
        </div>
        <div class="field-2">
          <p>{{user.aadharnumber}}</p>
        </div>
      </div>
      <div class="detail-row">
        <div class="field-1">
          <p>Status</p>
        </div>
        <div class="field-0">
          <p>:</p>
        </div>
        <div class="field-2">
          <button class="status-btn" [ngClass]="getButtonClass(user.status)">
            <img src="clock.svg">
            {{user.status}}</button>
        </div>
      </div>
    </div>
    
  </div>
  
</div>

<div *ngIf="btn2Active">
  <!-- Content for Blood Bank Status -->
  <div class="ama-details" >
    <div class="info-container">
      <div class="detail-row">
        <div class="field-1">
          <p>Patient Name</p>
        </div>
        <div class="field-0">
          <p>:</p>
        </div>
        <div class="field-2">
          <p>Ambar Mishra</p>
        </div>
      </div>
      <div class="detail-row">
        <div class="field-1">
          <p>Receiving Date</p>
        </div>
        <div class="field-0">
          <p>:</p>
        </div>
        <div class="field-2">
          <p>15/09/2024</p>
        </div>
      </div>
      <div class="detail-row">
        <div class="field-1">
          <p>Available Units</p>
        </div>
        <div class="field-0">
          <p>:</p>
        </div>
        <div class="field-2">
          <p>3 units / 5 units</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
