<body>
  <div class="main">
    <div class="main-container">
      <div class="content-block">
        <div class="cancel-btn">
            <div class="cancel-img">
                <img src="close.svg" >
            </div>
        </div>
        <div class="header">
          <div class="header-container">
            <div class="common-container">
              <div class="total-donor-img">
                <img src="total-donor.svg" />
              </div>
              <div class="info-container">
                <div class="info-wrapper">
                  <div class="info-p">
                    <p>Total Donor</p>
                  </div>
                  <div class="count">
                    <p>0</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="common-container">
                <div class="total-donor-img">
                  <img src="approved.svg" />
                </div>
                <div class="info-container">
                  <div class="info-wrapper">
                    <div class="info-p">
                      <p>Approved</p>
                    </div>
                    <div class="count">
                      <p>0</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="common-container">
                <div class="total-donor-img">
                  <img src="rejected.svg" />
                </div>
                <div class="info-container">
                  <div class="info-wrapper">
                    <div class="info-p">
                      <p>Rejected</p>
                    </div>
                    <div class="count">
                      <p>0</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <thead>
                <tr>
                  <th>Donor Name</th>
                  <th>Aadhar Number</th>
                  <th>Gender</th>
                  <th>Contact</th>
                  <th>Blood Group</th>
                
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let survey of acceptedDonor">
                  <td>{{survey.name}}</td>
                  <td>{{survey.aadharnumber}}</td>
                  <td>{{survey.gender}}</td>
                  <td>{{survey.phone}}</td>
                  <td>{{survey.bloodgroup}}</td>
               
                  <td>
                    <button class="btn-approved" (click)="checkupform()" >Checkup Form</button>
                  </td>
                </tr>

                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
