<!-- <div class="wrapper"> -->
  <!-- <app-navbar></app-navbar> -->
  <!-- Image Slider Start-->
  <!-- <div class="slider"> -->
    <!-- <div class="slides">
      <div class="slide">
        <img src="home/1.jpg" alt="Image 1" />
      </div>
      <div class="slide">
        <img src="home/2.jpg" alt="Image 2" />
      </div>
      <div class="slide">
        <img src="home/3.jpg" alt="Image 3" />
      </div>
    </div>
    <div class="navigation">
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
    </div>
  </div> -->
  <!-- Image Slider End -->

  <!-- Interaction Section Start -->
  <!-- <div class="box-btn">
    <div class="req-btn-wrapper" (click)="requirement()">
      <div class="req-image">
        <img src="home/request.svg" />
      </div>
      <div class="req-p">
        <p>Request</p>
      </div>
    </div>
    <div class="status-btn-wrapper" (click)="status()">
      <div class="status-image">
        <img src="home/status.svg" />
      </div>
      <div class="status-p">
        <p>Status</p>
      </div>
    </div>
  </div> -->
  <!-- Interaction Section End -->

  <!-- Testimonial Section Start -->
  <!-- <div class="testmonial-wrapper">
    <div class="testimonial-container">
      <div class="profile">
        <img src="home/profile.png" />
      </div>
      <div class="info">
        <div class="name">
          <p>Ambar Mishra</p>
        </div>
        <div class="comment">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, voluptatem! Praesentium id rem saepe modi suscipit fuga. Sunt ad voluptas dolorum modi nostrum et, illum dolorem voluptates ab quibusdam saepe.
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Testimonial Section End -->
  <!-- <div class="testimonial-slider">
    <div class="testimonial-slides">
      <div class="testimonial-slide" *ngFor="let feedback of feedbacks">
        <div class="testimonial-container"> -->
          <!-- <div class="profile">
            <img src="home/profile.png" />
          </div> -->
          <!-- <div class="info">
            <div class="name">
              <p>{{ feedback.name }}</p>
            </div>
            <div class="comment">
              <p>{{ feedback.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
    </div>
  </div> -->
  <!-- Testimonial Section End -->

   <!-- <app-bottom-navbar></app-bottom-navbar>
</div> -->





<div class="wrapper">
  <app-navbar></app-navbar>
  <!-- Image Slider Start-->
  <div class="slider">
    <div class="slides">
      <div class="slide">
        <img src="home/1.jpg" alt="Image 1" />
      </div>
      <div class="slide">
        <img src="home/2.jpg" alt="Image 2" />
      </div>
      <div class="slide">
        <img src="home/3.jpg" alt="Image 3" />
      </div>
    </div>
    <div class="navigation">
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
    </div>
  </div>
  <!-- Image Slider End -->

  <!-- Interaction Section Start -->
  <div class="box-btn">
    <div class="req-btn-wrapper" (click)="requirement()">
      <div class="req-image">
        <img src="home/request.svg" />
      </div>
      <div class="req-p">
        <p>Request</p>
      </div>
    </div>
    <div class="status-btn-wrapper" (click)="status()">
      <div class="status-image">
        <img src="home/status.svg" />
      </div>
      <div class="status-p">
        <p>Status</p>
      </div>
    </div>
  </div>
  <!-- Interaction Section End -->

  <!-- Testimonial Section Start -->
  <div class="testimonial-slider">
    <div class="testimonial-slides">
      <div class="testimonial-slide" *ngFor="let feedback of feedbacks">
        <div class="testimonial-container">
         
          <div class="info">
            <div class="heading">Gratitude from Blood Recipients</div>
            <div class="name">
              <div class="img">
                <div class="initials">{{ feedback.name[0] }}{{ feedback.name.split(' ')[1][0] }}</div>
              </div>
              <p>{{ feedback.name }}</p>
            </div>
            <div class="comment">
              <p>{{ feedback.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <button class="testimonial-prev">&#10094;</button>
      <button class="testimonial-next">&#10095;</button>
    </div>
  </div>
  <!-- Testimonial Section End -->

  <app-bottom-navbar></app-bottom-navbar>
</div>
