// Image Slider Start
.slider {
  position: relative;
  //   width: 100%;
  width: 90%;
  // margin: auto;
  overflow: hidden;
  //   border: 2px solid #ddd;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6%;
  border-radius: var(--CR-10, 10px);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 95%;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation button {
  background-color: white;
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.navigation button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  height: 100vh;
  //   background-color: red;
}
// Image Slider End

// Interaction Section Start
.box-btn {
  //   background-color: blue;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6%;
}
.req-btn-wrapper,
.status-btn-wrapper {
  width: 40%;
  height: 75%;
  border-radius: var(--CR-10, 10px);
  background: var(
    --Red-linear,
    linear-gradient(
      180deg,
      #d62828 0%,
      rgba(188, 35, 35, 0.95) 30.57%,
      rgba(165, 31, 31, 0.9) 53.9%,
      rgba(138, 26, 26, 0.85) 80.19%,
      rgba(112, 21, 21, 0.8) 100%
    )
  );
}
.status-btn-wrapper {
  background: var(
    --Blue-linear,
    linear-gradient(180deg, #003049 0%, #005079 99.99%)
  );
}

.req-image,
.status-image {
  justify-content: center;
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}
.req-p,
.status-p {
  display: flex;
  justify-content: center;
  color: var(--white, #fff);
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
// Interaction Section End

// Testimonial Section Start
.testmonial-wrapper {
  //   background-color: red;
  height: 25%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6%;
}

.testimonial-container {
  border-radius: var(--CR-10, 10px);
  background: linear-gradient(180deg, #e2375b 0%, #2a79ac 100%);
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile {
  border-radius: var(--CR-10, 10px);
  // background: linear-gradient(180deg, #E2375B 0%, #2A79AC 100%);
  // background-color: red;
  height: 60%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  // background-color: black;
  height: 80%;
  width: 60%;
}

.name {
  display: flex;
  align-items: center;
  // background-color: red;
  margin-top: 8%;
  height: 15%;
  color: var(--white, #fff);
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.comment {
  // background-color: blue;
  height: 58%;
  width: 95%;
  color: var(--white, #fff);
  /* UI/B5 */
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; 
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
.slider, .testimonial-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides, .testimonial-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide, .testimonial-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.testimonial-container {
  height: 180px;
  width: 330px;
  position: relative;
  left: 17px;
  // padding-left: 20px;
}
.info{
  width: 300px;
}

.heading  {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px; 
  white-space: nowrap; 
}

.name {
  display: flex;
  // align-items: center;
}

.img {
  position: relative;
  // right: 40px;
  width: 40px;
  height: 35px;
  background-color:transparent;
  border: 1px solid rgb(245, 242, 242);
  color:#f4f5f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.name p {
  font-size: 16px;
  padding-bottom: 15px;
  position: relative;
  top: 5px;
  // right: 38px;
}

.comment p {
  font-family: Lato;
  // font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  padding: 15px 4px 0px 52.5px;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation .prev, .navigation .next,
.navigation .testimonial-prev, .navigation .testimonial-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}



// Testimonial Section End
