<body>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="patient-name">Patient Name</label>
        <input
          type="text"
          id="patient-name"
          name="patient-name"
          [value]="patientData.name"
        />
      </div>
      <div class="form-group">
        <label for="blood-group">Blood Group</label>
        <input type="text" id="blood-group" name="blood-group"value="Ab+"/>
      </div>
      <div class="form-group">
        <label for="aadhaar-number">Aadhaar Number</label>
        <input type="text" id="aadhaar-number" name="aadhaar-number"[value]="patientData.aadharNumber" />
      </div>
      <div class="form-group">
        <label for="hospital-name">Hospital Name</label>
        <input type="text" id="hospital-name" name="hospital-name"[value]="patientData.hospital_name" />
      </div>
      <div class="form-group">
        <label for="patient-bed-number">Patient Bed Number</label>
        <input type="text" id="patient-bed-number" name="patient-bed-number" [value]="patientData.bed_no"/>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city"[value]="patientData.city" />
      </div>
      <div class="form-group">
        <label for="units-blood">Units of Blood Required</label>
        <input type="text" id="units-blood" name="units-blood" [value]="patientData.unit"/>
      </div>
      <div class="buttons">
        <button type="button" (click)="updateStatus('approved')" class="approve">Approve</button>
        <button type="button" (click)="updateStatus('rejected')" class="reject">Reject</button>
      </div>
      </form>
  </div>
</body>
