<!-- <div class="container">

    <div class="img">
        <img src="surveyForm/Forms-pana 1.svg">
    </div>

        <div class="bloodtype">
        <div class="text1">What is Your Blood Type</div>
        
          <div class="radio">

            <div class="first">
            <div>
              <input type="radio" id="value1"  name="bloodtype" value="A+" checked />
              <label for="value1">A+</label>
            </div>
          
            <div>
    <input type="radio"  id="value2" name="bloodtype" value="B+" />
              <label for="value2">B+</label>
            </div>
          
            <div>
             <input type="radio" id="value3"   name="bloodtype"value="AB+" />
              <label for="value3">AB+</label>
            </div>

            <div>
             <input type="radio" id="value4" name="bloodtype" value="O+" />
                <label for="value4">O+</label>
              </div>
             </div>

             <div class="second">
              <input type="radio" id="value5" value="A-" name="bloodtype"  class="A"/>
              <label for="value5">A-</label>
            
          
            <div>
              <input type="radio" id="value6" name="bloodtype" value="B-" />
              <label for="value6">B-</label>
            </div>
          
            <div>
              <input type="radio" id="value7" name="bloodtype" value="AB-" />
              <label for="value7">AB-</label>
            </div>

            <div>
                <input type="radio"  id="value8" name="bloodtype" value="O-" />
                <label for="value8">O-</label>
              </div>
              </div>

              </div>
              </div>
                
              <div class="donate">
              <div class="text2">Have You Donated Previously</div>
          <div class="Donated">
            <div>
                <input type="radio" id="value1" name="donate" value="Yes" checked />
                <label for="value1">Yes</label>
              </div>

              <div>
                <input type="radio" id="value2" name="donate" value="No"  />
                <label for="value2">No</label>
              </div>

          </div>
          </div>
        


         <div class="condition>">
          <div class="text3">Have you taken any of these in the past 72 hours?</div>

          <div class="box">
          <div class="check1">
          <div><input type="checkbox" id="value1" value="value1" >
            <label for="value1">Antibiotics </label><br></div>
          
          <div><input type="checkbox"  id="value1" value="value1">
            <label for="value1">Aspirin </label><br></div>
          
          <div><input type="checkbox"  id="value1" value="value1">
            <label for="value1">Alcohol</label><br></div>
          </div>
          
          <div class="check2">
            <div><input type="checkbox" id="value1" value="value1">
              <label for="value1">Steriods </label><br></div>
            
            <div><input type="checkbox"  id="value1" value="value1">
              <label for="value1">Vaccination </label><br></div>
            
            <div><input type="checkbox"  id="value1" value="value1">
              <label for="value1">Drugs</label><br></div>
            </div>
            
          </div>
          </div>

          <div class="text4">Any history of surgery or blood transfusion in the past six months?</div>
          <div class=" bottom">
            <div>
                <input type="radio" id="value1" value="value1" checked />
                <label for="value1">yes</label>
              </div>

              <div>
                <input type="radio" id="value1" value="value1"  />
                <label for="value1">No</label>
              </div>
              </div>
<div class="text5">When did you last donate blood?</div>

 <div class="date">
  <input type="date" class="datepick" >
</div> 


              <div class="btn">
                <button class="report-btn" (click)="move()">SUBMIT</button>
            </div>

    </div>
 -->


 <!-- newcode -->

 <div class="container">

  <div class="img">
      <img src="surveyForm/Forms-pana 1.svg">
  </div>

  <div class="field bloodtype">
      <label class="text1">What is Your Blood Type</label>
      <div class="radio radio-group">
          <div class="first">
              <div>
                  <input type="radio" id="value1-A" name="bloodtype" value="A+" checked />
                  <label for="value1-A" id="bg">A+</label>
              </div>
              <div>
                  <input type="radio" id="value2-B" name="bloodtype" value="B+" />
                  <label for="value2-B" id="bg">B+</label>
              </div>
              <div>
                  <input type="radio" id="value3-AB" name="bloodtype" value="AB+" />
                  <label for="value3-AB" id="bg">AB+</label>
              </div>
              <div>
                  <input type="radio" id="value4-O" name="bloodtype" value="O+" />
                  <label for="value4-O" id="bg">O+</label>
              </div>
          </div>

          <div class="second">
            <input type="radio" id="value5-a" value="A-" name="bloodtype" class="A" />
            <label for="value5-a" id="bg">A-</label>
            <div>
                <input type="radio" id="value6-b" name="bloodtype" value="B-" />
                <label for="value6-b" id="bg">B-</label>
            </div>
            <div>
                <input type="radio" id="value7-ab" name="bloodtype" value="AB-" />
                <label for="value7-ab" id="bg">AB-</label>
            </div>
            <div>
                <input type="radio" id="value8-o" name="bloodtype" value="O-" />
                <label for="value8-o" id="bg">O-</label>
            </div>
        </div>
    </div>
</div>

<div class="donate field">
    <label class="text2">Have You Donated Previously</label>
    <div class="Donated">
        <div>
            <input type="radio" id="value1" name="Donated" value="Yes" checked />
            <label for="value1" id="bg">Yes</label>
        </div>
        <div>
            <input type="radio" id="value2" name="Donated" value="No" />
            <label for="value2" id="bg">No</label>
        </div>
    </div>
</div>

<div class="field">
    <label id="calender">When did you last donate blood?</label>
    <div>
        <input type="date" class="datepick">
    </div>
</div>



<div class="field condition>">
    <div class="text3">Have you taken any of these in the past 72 hours?</div>

    <div class="box">
        <div class="check1">
            <div><input type="checkbox" id="value7" value="Antibiotics">
                <label for="value7" id="correct">Antibiotics </label><br>
            </div>

            <div><input type="checkbox" id="value8" value="Aspirin">
                <label for="value8" id="correct">Aspirin </label><br>
            </div>

            <div><input type="checkbox" id="value3" value="Alcohol">
                <label for="value3" id="correct">Alcohol</label><br>
            </div>
        </div>

        <div class="check2">
            <div><input type="checkbox" id="value4" value="Steriods">
                <label for="value4" id="correct">Steriods </label><br>
            </div>

            <div><input type="checkbox" id="value5" value="Vaccination">
                <label for="value5" id="correct">Vaccination </label><br>
            </div>

            <div><input type="checkbox" id="value6" value="Drugs">
                <label for="value6" id="correct">Drugs</label><br>
            </div>
        </div>

    </div>
</div>

<div class="field">
    <div class="text4">Any history of surgery or blood transfusion in the past six months?</div>
    <div class="Sa">
    <div>
        <input type="radio" id="yes" name="Sa" value="yes" checked />
        <label for="yes" id="bg">yes</label>
    </div>

    <div>
        <input type="radio" id="no" name="Sa" value="No" />
        <label for="no" id="bg">No</label>
    </div>
</div>
</div>


<div class="btn">
    <button class="report-btn" (click)="move()">SUBMIT</button>
</div>

</div>
