.container{
    height: 100%;
    width:fixed(100%);
    
}


.img{
    display: flex;
    justify-content: center;
    // width: 271px;
// height: 146px;
// top: 53px;
// left: 44px;
gap: 0px;
opacity: 0px;

}

p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}

.text{
    width: 200px;
height: 20px;
// top: 231px;
// left: 22px;
position: relative;
top: 30px;
bottom: 100px;
left:20px;


}
.radio{
    

    display: flex;
    // justify-content: center;
    // align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 90px;
  
    position:relative;
    top:30px;
}
.yes{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 90px;
    position: relative;
    top:40px
}
.text2{
    position: relative;
    top:40px;
    left:20px;
    // botttom:30px;
}
.text3{
    position: relative;
    top:45px;
    left:20px;
    bottom: 20px;
}

.box{
    display: flex;
    // justify-content: center;
    // align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 90px;
  
    position:relative;
    top:50px;
}

.text4{
    position: relative;
    top:70px;
    left:20px;
    bottom: 30px;
    right:20px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 90px;
    position: relative;
    top:85px
}

    .button{
        display: flex;
        justify-content: center;
      
        width:280px;
      
      height:25px;
      
      padding: 16px 30px 16px 20px;
      gap: 10px;
      
      opacity: 0px;
      background: linear-gradient(180deg, #D62828 0%, rgba(188, 35, 35, 0.9492) 30.57%, rgba(165, 31, 31, 0.9032) 53.9%, rgba(138, 26, 26, 0.8502) 80.19%, rgba(112, 21, 21, 0.8) 100%);
    //   margin-top: 50px;
    //   margin-left: 20px;
    //   margin-right: 35px;
    //   margin-bottom: 30px;
      border-radius: 10px;
      position:relative;
      top:170px;
      left:20px;
      right:35px;
}
#value1 {
    accent-color: #003049;
}
.date{
    width:270px;
height:35px;
// display: flex;
// justify-content: center;
position: relative; 
top:100px;
left:13px;
outline-color: #003049;


}


.text5{
    width: 218px;
height: 16px;
position:relative;
top: 100px;
left: 22px;
bottom:50px;


}

.datepick{
    width:270px;
height:32px;

padding: 11px 23px 11px 23px;
//  gap: 0px;
// border-radius: 10px 0px 0px 0px;
border: 1px 0px 0px 0px;
border-color: #003049;
 justify: space-between;



border-radius: 13px;

position: relative; 
top:20px;
left:5px;
// right:13px;
 
}