<body>
  <main>
    <aside class="sidebar">
      <header class="user-block">
        <figure class="user-img">
          <img src="Rectangle 3464151 (1).svg" />
        </figure>
        <div class="user-info">
          <h4>Shreeva</h4>
          <h6>Project</h6>
        </div>
      </header>
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <div (click)="dashboard()" class="nav-link">
              <img src="Vector (2).svg" class="nav-icon" /> Dashboard
            </div>
          </li>
          <li class="nav-item">
            <div (click)="pendingpage()" class="nav-link">
              <img src="Frame (5).svg" class="nav-icon" /> Pending
            </div>
          </li>
          <li class="nav-item">
            <div (click)="approvepage()" class="nav-link">
              <img src="noun-approved-7018854 1.svg" class="nav-icon" /> Approved
            </div>
          </li>
          <li class="nav-item">
            <div (click)="cancelpage()" class="nav-link">
              <img src="1.svg" class="nav-icon" /> Cancelled
            </div>
          </li>
          <li class="nav-item">
            <div (click)="readydonor()" class="nav-link">
              <img src="Group (1).svg" class="nav-icon" /> Ready Donor
            </div>
          </li>
          <li class="nav-item">
            <div (click)="userpermission()" class="nav-link">
              <img src="noun-permission-6109283 1.svg" class="nav-icon" /> User
              and Permission
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link" (click)="triggerSignout()">
              <img src="noun-permission-6109283 1.svg" class="nav-icon" />
              Logout
            </div>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="main-container">
      <header class="header">
        <h1 class="page-title">Allahabad Medical Association</h1>
        <img src="Group (1).svg" class="notification" />
      </header>
      <div class="content-block">
        <div class="search">
          <h2>Pending</h2>
          <div class="search-block">
            <input
              type="text"
              name="search"
              id="search"
              class="form-control"
              placeholder="Search"
            />

            <button class="btn">Newest</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <thead>
                <tr>
                  <th>Patient Name</th>
                  <th>Aadhar Number</th>
                  <th>Contact</th>
                  <th>Status</th>
                  <th class="report-cell">Report</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pending of pendingSummary">
                  <td>{{ pending && pending.name ? pending.name : "-" }}</td>
                  <td>
                    {{
                      pending && pending.aadharNumber
                        ? pending.aadharNumber
                        : "-"
                    }}
                  </td>
                  <td>
                    {{ pending && pending.contact ? pending.contact : "-" }}
                  </td>
                  <td>
                    {{ pending && pending.status ? pending.status : "-" }}
                  </td>
                  <td>
                    <button
                      class="btn btn-danger"
                      (click)="openModal(pending.id)"
                    >
                      View Report
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="modal-background" *ngIf="isOpen">
            <div class="modal">
                <span class="close" (click)="closeModal()">×</span>
                <h2>Patient Report</h2>
                <div class="divset">
                  <div>
                    <app-patient-details></app-patient-details>
                  </div>
                  <div class="img">
                    <img src="Rectangle 3464156.png"alt="report-img">
                  </div>  
                </div>
            
            </div>
        </div> -->

    <div class="modal-background" *ngIf="isOpen">
      <div class="modal">
        <span class="close" (click)="closeModal()">×</span>
        <h2>Patient Report</h2>
        <div class="divset">
          <div class="patient-details">
            <app-patient-details
              [patientData]="patientData"
            ></app-patient-details>
          </div>
          <div class="img">
            <!-- <img [src]="imageURL" alt="report-img"> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
