.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light background color */
    border-left-color: #007bff; /* Spinner color */
    border-radius: 50%;
    width: 30px; /* Adjust size */
    height: 30px; /* Adjust size */
    animation: spin 1s linear infinite; /* Animation for spinning */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the spinner */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg); /* Full rotation */
    }
  }
  