<div class="wrapper">
  <div class="container">
     <!-- Header Start -->
    <div class="header">
      <div class="heading"><h1>User and Permission</h1></div>
      <div class="add-new">
        <button class="btn">Add New</button>
      </div>
    </div>
     <!-- Header End -->

    <div class="user-container">
      <!-- Card Start -->
      <div class="user">
        <div class="img">
          <img src="person.svg" alt="" />
        </div>
        <div class="user-info-container">
          <div class="user-info">
            <div class="para">
              <p>Ambar Mishra</p>
            </div>
            <div class="img-btn">
              <div class="img-wrapper-1"><img src="edit-img.svg" /></div>
              <div class="img-wrapper-2"><img src="delete-img.svg" /></div>
            </div>
          </div>
          <div class="mail-container">
            <p>ambarmishra740</p>
          </div>
        </div>
      </div>
      <!-- Card End -->
    </div>
  </div>
</div>
