<!-- <p>user-and-permission works!</p>
<button (click)="listenToDonorChanges()">CLICK</button>
<div>
    <div class="contact-form-wrapper d-flex justify-content-center">
      <form (ngSubmit)="onSubmit()" class="contact-form">
        <h5 class="title">Contact us</h5>
        <p class="description">{{ "Lets talk about everything!" | translate }}
        </p>
        <div>
          <input type="text" class="form-control rounded border-white mb-3 form-input" [(ngModel)]="name" name="name" placeholder="Name" required>
        </div>
        <div>
          <input type="email" class="form-control rounded border-white mb-3 form-input" [(ngModel)]="email" name="email" placeholder="Email" required>
        </div>
        <div>
          <textarea class="form-control rounded border-white mb-3 form-text-area" [(ngModel)]="message" name="message" rows="5" cols="30" placeholder="Message" required></textarea>
        </div>
        <div class="submit-button-wrapper">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
  </div> -->

  <button (click)="sendEmail()">Click</button>
  <p>hello</p>
