.wrapper {
  // background: var(--web-bg, #F1F5FB);
  // background-color: red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  // background-color: blueviolet;
  height: 90%;
  width: 95%;
  margin: 0 auto;
}

// Header Section Start
.header {
  // background-color: blue;
  width: auto;
  height: 10vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 3%;
}
.heading {
  font-family: Lato;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
  background: var(
    --Blue-linear,
    linear-gradient(180deg, #003049 0%, #005079 99.99%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
margin-left:6%;
}
.btn {
  //   background-color: red;
  width: 187px;
  height: 62px;
  border-radius: 15px;
  margin-right:100px;
  border: 1px solid var(--Blue-linear, #003049);
  background: var(
    --Blue-linear,
    linear-gradient(180deg, #003049 0%, #005079 99.99%)
  );
  color: var(--white, #fff);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
// Header Section End


// Card Section Start
.user {
  width: 377px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid black;
  // background: linear-gradient(90deg, #f86b6b 35.37%, #ffffff 84.38%);
  background: var(--web-bg, #F1F5FB);
  margin-left: 5%;
  padding: 6px;
  text-align: center;
  display: grid;
  grid-template-columns: 15% 70%;
 
}

.user-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-left: 5%;
  // background-color: blue;
}
.img {
  margin-top: 10px;
  // width: 62px;
  // height: 102px;
}
.user-info {
    // background-color: blue;
  width: 300px;
  height: 30px;
  display: flex;
  margin-left: 4%;
  margin-top: 1.5%;
  justify-content: space-between;
}
.mail {
  width: 300px;
  height: 50px;
  // background-color: yellow;
}
.user-info img {
  width: 28px;
  height: 28px;
}
.img-wrapper-1 {
  margin-right: 10px;
}
.user-info p {
  color: var(--Button, #145889);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
}

.user-info-container{
  // background-color: red;
  width: 11vw;
}

.img-btn{
  display: flex;
  // background-color: white;
}
.mail-container{
  // background-color: pink;
  display: flex;
  margin-left:4%;
  justify-content: flex-start;
  color: var(--text-black, #454545);
text-align: right;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
// Card Section End